{{ range $version, $containers := groupBy $ "Env.HTTPD_VERSION" }}
{{ range $index, $value := $containers }}
ID: {{ $value.ID }} {{ $value.Image }}
{{ end }}
{{ end }}

{{ range $key, $value := . }}
Docker: {{$value.Hostname}}
{{ end }}
 
